@import "./style/default.css";
:root{
    --c:#06080F;
    --c2:#06080Faa;
    --sc-border: 1px solid rgba(229,229,229,1);
    
    --c-music-btn-x:#acacac;
    --c-music-btn:#06080Faa;
    --c-music-btn-hover:#06080f;
    --c-music-btn-light:#0000002c;
    --c-map:rgb(90, 90, 90);
    --c-border-lightgray:rgb(227, 227, 227);
    
    --bgc-music-btn:rgba(255, 255, 255, 0.602);
    --bgc-music-btn-hover:rgba(223, 223, 223, 0.898);
    --bgc-screen:#ffffff;
    --bgc-calendar:rgba(240,240,240,1);
    --bgc-s-dot-default:#dddddd;
    --bgc-s-dot-hover:#12121278;
    --bgc-s-dot-focus:#202020;
    --bgc-gray:rgb(241, 241, 241);
    

    --mb-sc:1em;
}
*{
    color: var(--c);
    -webkit-tap-highlight-color : #00000000;
    /* https://gahyun-web-diary.tistory.com/77 */
}
.screen{
    margin-left: auto;
    margin-right: auto;
    font-family: Nanum Myeongjo,serif;
    background-color: var(--bgc-screen);

    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    background-size: contain;
}

section{
    /* border: 1px solid #000; */
    text-align: center;
    /* margin-bottom: var(--mb-sc); */
}

/* ===============sc0=============== */
.sc0{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;

    z-index: 10;
    
}
.music-btn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    
    border: 1px solid var(--c-music-btn-light);
    border-radius: 0.5rem;
    background-color: var(--bgc-music-btn);
    
    line-height: 1rem;
    font-size: 0.7rem;
    min-width: 30px;
    /* max-width: 30px; */
    /* max-width: auto; */
    width: 30px;
    overflow: hidden;
    animation: musicNoti 3s 1.5s alternate 2 ;
    animation-timing-function: 2s;
}
.music-btn i{
    padding: 0.3rem 0.5rem;
    color: var(--c-music-btn-x);
    /* width: 15px; */
    width: 100%;
    
}
.music-btn:hover{
    background-color: var(--bgc-music-btn-hover);
    color: var(--c-music-btn-hover);
}
.music-btn span{
    margin: 0 8px 0 0;
    flex-shrink: 0;
    opacity: 0;
    animation: musicNotiOp 3s 1.5s alternate 2 ;
    animation-timing-function: 2s;
}
@keyframes musicNoti {
    0%{
        background-color: var(--bgc-music-btn);
        width: 30px;}
    75%{
        background-color: #fff;
        width: 155px;}
    100%{
        background-color: #fff;
        width: 155px;}
    }
    @keyframes musicNotiOp {
        0%{opacity: 0;}
        50%{opacity: 1;}
        100%{opacity: 1;}
    }
@keyframes musicClick {
    0%{
        background-color: var(--bgc-music-btn);
        width: 30px;}
    75%{
        background-color: #fff;
        width: 155px;}
    100%{
        background-color: #fff;
        width: 155px;}
}
/*  */
.sc-head{
    margin-top: 8em;
    margin-bottom: 2em;
}
/* ===============sc1=============== */
.sc1{
    height: 20%;
    padding-top:4em;
    /* padding-bottom: 40px; */
}
/* .sc1 div:not(:nth-child(3)){
    margin-bottom: .8em;
} */
.sc1 .date{
    margin-bottom: .8em;
    font-size: 1.125em;
    line-height: 2em;
    font-family: Cormorant Unicase,serif;
    line-height: 1;
    letter-spacing: 0.05em;
}
.sc1 .name{
    margin-bottom: 1em;
    padding: 8px;
    font-size: 1.2em;
    line-height: 1;
}
.sc1 .location{
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 0.625em;
    line-height: 0.75em;
    line-height: 1;
    color: var(--c2);
}
.sc1 .main-img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 80%;   
    border-bottom: var(--sc-border);
}
/* ===============sc2=============== */
.sc2{
    padding: 64px 32px;
}
.sc2 p {
    line-height: 1.9em;
}
.sc2 .title{
    padding-top: 2em;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.75em;
    /* font-size: 1.3em; */
}
.sc2 .text{
    font-size: .9em;
    padding-top: 60px;
}
.sc2 .family{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding-bottom: 5px;
}
.family .dot{
    padding: 0 .5em;
}
.family .whos,
.family .who{
    color: #7d7d7d;
    font-size: .875em;
    padding: 0 .75em;
    width: 34.5px;
}
.family .who{
    color: #7d7d7d;
    padding-left: 0;
    width: 40px;
}
/* ===============sc3=============== */
.sc3{
    background-color: var(--bgc-calendar);
    /* height: 503px; */
    padding: 3.5em 0;
    margin: 4em 0;
    
    border-top: var(--sc-border);
    border-bottom: var(--sc-border);
    line-height: 1.75em;
}
.sc-title{
    font-size: 1.25em;
    padding-top: 5px;
}
.calendar{
    width: 100%;
    padding: 0 35px;
    padding-top: 2rem;
}
.calendar>div{
    padding: 1.4px 0;
}
.calendar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.calendar .day,
.calendar .date{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875em;
}
.calendar .x{
    color:#929292;
}
.sunday,
.r{
    color: red;
}
.calendar .icon{
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    fill: rgb(159, 159, 159);
    stroke: rgb(159, 159, 159);
}
.calendar .d{
    position: relative;
    z-index: 10;
    /* width: 45px;
    height: 45px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}
.fulldate{
    padding-top: 2em;
    font-size: 1em;
    line-height: 1.5em;
}
/* ===============sc4=============== */
.sc4{height:auto;}
.sc4 .sc-head{height: 20%;}
           .g{height: 80%;}
                .gcontainer{height: auto;}
                  .slider-nav{height: 10%;}
.g{
    /* overflow: hidden; */
    display: block;
    width: 100%;
}
.gcontainer::-webkit-scrollbar{
    display: none;
}
.gcontainer{
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: nowrap;

    width: 100%;
    position: relative;
    overflow: scroll;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth ;
}
.g img{
    width: 100%;
    /* height: inherit; */
    cursor: pointer;
    scroll-snap-align: start;
}
/*  */
.onslider{
    width: 20%;
    height: 85%;
    position: fixed;
    top: 5%;
    /* background: #dc96963c; */
    cursor: pointer;
}
.onslider-l{
    left: 0;
}
.onslider-r{
    right: 0;
}
/*  */
.slider-nav{
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-content: center;
    gap: 6px;
    /* position: unset; */
    width: 100%!important;
    padding: 0.75rem;
    line-height: 1.25rem;
}
.slider-dot{
    width: .5em;
    height: .5em;
    background-color: var(--bgc-s-dot-default);
    
    border-radius: 50px;
    cursor: pointer;
}
.slider-dot:nth-of-type(1){
    background-color: var(--bgc-s-dot-hover);
}
.slider-dot:hover{
    background-color: var(--bgc-s-dot-hover);
}
/* ===============sc5=============== */
.sc5 .container{
    background-color: #dadada2c;
}
.map{
    border-top: 1px solid var(--bgc-gray);
    width: 100%;
    height: 300px;
}
.copymap{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--bgc-gray);
    background-color: var(--bgc-gray);
    font-family: sans-serif;
    font-size: 0.8em;
    color: var(--c-gray);
}
.sc5 .head div{
    font-size: .9em;
}
.sc5 .head div:last-child{
    font-size: 1.2em;
    padding-top: 5px;
}
/* ===== */
.howcome{
    width: 100%;
    padding: 3.5em 1.5em;
}
.howcome .line-s-thin-2{
    margin-top: 3em;
}
.howcome .detail{
    text-align: left;
    /* font-size: 0.875em; */
    line-height: 1.25em;
    color: rgba(38, 38, 38, 1);
    line-height: 1.625;

    width: 100%;
}
.howcome .detail .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.75em;
    color: #06080F;
    padding-bottom: 0.75em;
    padding-top: 2em;
}
.howcome .detail .description{
    font-size: 15px;
}
/* ===============sc6=============== */
.sc6
{
    padding: 4em 10px;
}
.sc6 .noti{
    padding: 4em 1em;
    border: 1px double var(--c-border-lightgray);
    border-radius: 5px;
}
.noti p{
    padding: 10px;
}
/* ===============sc7=============== */
/* 계좌번호 */
.sc7{
    padding: 4em 25px;
}
.sc7 .box{
    margin-bottom: 20px;
    border: 1px solid var(--c-border-lightgray);
    border-radius: 8px;
    font-size: .95em;
}
.sc7 .sc-head{
    margin-top: .5em;
}
.sc7 .box:not(:has(details)){
    padding: 10px;
    cursor: pointer;
}
.sc7 .box:not(:has(details)):hover,
.call-summary:hover{
    transition: background-color 0s;
    background-color: var(--bgc-gray) !important
}
/* .accounts > .account > .l .c .r */
.sc7 details{
    /* border: 1px solid var(--c-border-lightgray); */
    border-radius: 8px;
}
.sc7 summary{
    background-color: var(--bgc-gray);
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
.call-summary{
    background-color: #ffffff00 !important
}
.sc7 summary i {
    position: absolute;
    font-size: 1em;
    right: 10px;
    top: 13px;
    color: #0000007d;
    /* transition: transform .5s ease-in-out; */
}
.sc7 details[open] summary > i{
    transform: rotateZ(-180deg);
}
.sc7 details[open] .call-summary{
    background-color: var(--bgc-gray) !important
}

.accounts, .calls{
    padding: 15px;
}
.account, .call{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: .875em;
    padding: 10px 0;
}

.account:not(:last-child),
.call-head{
    border-bottom: 1px solid var(--c-border-lightgray);
}
.call-head{
    padding-bottom:1px;
}
.call:has(.account){
    border-bottom: none;
}
.call-head span{
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1em;
}
.account:has(.bx){
    border-bottom: none;
}


.account:last-child{
    padding-bottom: 0;
}

.account div div{
    padding: 5px 0;
}
.call{
    justify-content: space-around;
}
.account > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}
.account .l div{
    width: 100%;
    text-align: right;
    padding-right: 10px;
    font-size: .875em;
    color: #7d7d7d;
}
.account .c{
    width: 100%;
    max-width: 45%;
}
.call .c{
    max-width: 50%;
}
.call .c div{
    font-size: 1.1em;
}
.account .c div{
    width: 100%;
    text-align: left;
}

.account .r button{
    border: 1px solid var(--c-border-lightgray);
    border-radius: 8px;
    font-size: 0.75em;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.account .r button i{
    margin-right: 5px;
    font-size: 1.2em;
}

.account .r button span{
    width: 100%;
}
/* .call .r{
    width: auto;
} */
.call .r button,
.call .r button span{
    width: auto;
}
.account .r button:hover{
    background-color: var(--bgc-gray);
    border-color: #939393;
}
/* ===============footer=============== */
footer, .share > div{
    width: 100%;
    padding: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
footer{
    background-color: var(--bgc-gray);
    border: 1px solid var(--c-border-lightgray);
    padding: 2em;
}
.share{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.share p{
    font-size: .5em;
}
.share > div{
    width: auto;
}
.share div .icon{
    width: 24px;
    height: 24px;
    margin-bottom: 5px; 
}
.copyright{
    font-size: .5em;
}
.copyright a{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}


/* 스크롤 떠오르는 애니메이션 */
/* .fade-0{
    opacity:0;
    transform:translate3d(0, 7em, 0);
} */

.fade-0{
    opacity: 0; 
    transform: translate3d(0em, 7em, 7em); 
    transition: all 1s cubic-bezier(0, 0, 0.2, 1)  0s;
}

.fade-up{
    opacity: 1; 
    transform: translate3d(0em, 0em, 0em); 
    transition: all 1s cubic-bezier(0, 0, 0.2, 1) 0s;
}

/* detail - summery 애니메이션 */

/* pc */
@media (min-width: 640px){
    .screen{
        max-width: 24rem;
    }
    .g .container{
        height: calc(100vh - 170px);
    }
}